@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;800&family=Bevan&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;




.profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 150px;
  }

  .profile-sidebar {
    position: absolute;
    width: 80px;
    min-width: 130px;
    z-index: 2;
    left: 40px;
    top: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .sidebar-icon {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }.sidebar-icon:hover {
    background-color: rgba(215, 86, 0, 0.3);
  }
  
  .sidebar-icon svg {
    font-size: 26px;
    color: black;
    transition: color 0.2s ease-in-out;
  }
  
  .sidebar-icon:hover svg {
    color: black;
  }

  .sidebar-text {
    position: absolute;
    left: 70px;
    background-color: #D75600;
    color: white;
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 14px;
    font-family: "Abhaya Libre", serif;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 2;
  }
  
  .sidebar-icon:hover .sidebar-text {
    opacity: 1;
    transform: translateX(0);
  }
  
  .vl {
    position: absolute;
    top: 209px;
    left: 155px;
    width: 2px;
    height: 115%;
    background-color: #e0e0e0;
    z-index: 1;
  }

  
  .profile-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }
  
  .profile-pic {
    width: 120px;  
    height: 120px;
    border-radius: 50%;
    object-fit: cover; 
    border: 3px solid #e0e0e0; 
    margin-bottom: 10px; 
  }
  
  .name {
    color: #000;
    font-family: "Abhaya Libre", serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin-top:5px;
}

.username{
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: "Abhaya Libre", serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin-top: 5px;
}
  
.bio{
    color: #000;
    text-align: center;
    font-family: "Abhaya Libre", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    margin-top: 0px;
}

.stats{
    color: #000;
    text-align: center;
    font-family: "Abhaya Libre", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 5px;
    
    display: flex;  
    justify-content: center; 
    align-items: center; 
    gap: 40px;
}

.create-container {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  width: 400%; 
  padding-right: 20px;
  z-index: 100;
}

.create-btn {
  display: inline-flex;         
  align-items: right;
  gap: 4px;              
  color: #D75600;
  font-size: 20px;
  font-weight: bold;
  font-family: "Abhaya Libre", serif;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  text-align: right;
  white-space: nowrap; 
}

.default-image {
  width: 100%;
  height: 180px; 
  background-color: #d9d9d9;
  border-radius: 12px;
  margin-bottom: 10px;
  
}

.create-btn:hover {
  color: #b54500;
}

.create-dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px 0;
  width: 150px;
}

.create-option {
  display:flex;
  justify-content: flex-start;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: background-color;
  font-family: "Abhaya Libre", serif;
}

.create-option:hover {
  background: #f5f5f5;
  border-radius: 14px; 
}

.collection-options {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 5;
  cursor: pointer;
}

.collections-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 150px);
  padding: 20px 25px;
  padding-bottom: 10px;
}

.collections{
  color: #000;
  text-align: center;
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
  font-style: bold;
  font-weight: 500;
  line-height: 40px; 
}
 
.collection-title{
  font-size: 18px;
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  text-align: left;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* Dialog Overlay */
.dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
  text-align: left;
  line-height: 30px; 
}

/* Dialog Box */
.dialog-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
  text-align: left;
  line-height: 30px; 
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Dialog Title */
.dialog-title {
  font-size: 200px;
  font-weight: 800;
  margin-bottom: 15px;
  font-family: "Abhaya Libre", serif;
  font-size: 20px;
  text-align: center;
  font-style: bold;
  line-height: 30px; 
}

.title-input-txt{
  font-weight: normal;
}

.dialog-label{
  font-family: "Abhaya Libre", serif;
  text-align: center;
  font-weight: normal;
  line-height: 30px; 
}

.dialog-label-two{
  font-size: 10px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
  text-align: center;
  font-style: bold;
  line-height: 30px; 
}

/* Input Field */
.dialog-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-family: "Abhaya Libre", serif;
  font-weight: normal;

}

.dialog-private {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-size: 16px;
  font-style: normal;
}

.dialog-private input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: auto;
  cursor: pointer;
}

/* Create Button */
.dialog-create-btn {
  background: #D75600;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  
}

.dialog-create-btn:hover {
  background: #b54500;
}

.upload-placeholder {
  width: 100%;
  height: 300px;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collections-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
  margin-top: 20px;
  padding-bottom: 40px;

}

.collection-card {
  width: 250px;
  height:180px;
  padding: 15px;
  border-radius: 12px;
  text-align: left;
  font-family: "Abhaya Libre", serif;
  margin-bottom: 35px;
  font-weight: 800;
  position: relative;
}

.collection-card img,
.collection-card .default-image {
  width: 100%;
  height: 180px; 
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: px;
}

.collection-info {
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  width: 100%;
}

.collection-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Abhaya Libre", serif;
  align-items: left;
}

.collection-recipe-count {
  font-size: 14px;
  color: black;
  font-style: normal;
  align-items: flex-start;
}

.collection-actions-dropdown {
  position: absolute;
  top: 17px;
  right: 0;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px 0;
  width: 125px;
  z-index: 10;
}

.dropdown-option {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Abhaya Libre", serif;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-option:hover {
  background-color: #f5f5f5;
  border-radius: 14px;
}


.grocery-container{
  margin-right: auto;
  padding-left: 120px;
  text-align: left;
  width: 100%;
}

.grocery-list-header{
  color: #D75600;
  font-family: "Abhaya Libre", serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-new-list {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 12px;
  background: #F2F2F2;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: nowrap;
}

.add-new-list:hover {
  opacity: 80%;
}

.add-icon {
  font-size: 35px;
  color: #535353;
}

.create-list-text {
  color: #535353;
  font-family: "Abhaya Libre", serif;
  font-size: 20px;
  font-weight: 500;
}

.grocery-icons-container {
  position: relative;
  display: inline-block;
}

.filter-icon{
  width: 45px;
  height: 45px;
  color: #535353;
  flex-shrink: 0;
}

.edit-icon{
  color: #535353;
  width: 30px;
  height: 30px;
}

.filter-dropdown {
  position: absolute;
  top: 0px;
  left: -160px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 10px 0;
  width: 200px;
}

.filter-dropdown-header {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Abhaya Libre", serif;
  font-size: 20px;
  font-weight: 800;
  color:#D75600;
}

.filter-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  font-family: "Abhaya Libre", serif;
  font-size: 22px;
  font-weight: 800;
}

.filter-dropdown li:hover {
  background-color: #F3F3F3;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 20px;
}

.list-card {
  width: calc(33.33% - 20px);
  max-width: 400px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #F2F2F2;
  flex-shrink: 0;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.list-card-header {
  display: flex;
  justify-content: space-between; /* Pushes items to the edges */
  align-items: center;
  color: #535353;
  font-family: "Abhaya Libre", serif;
  font-size: 20px;
  font-weight: 800;
  margin: 10px;
  position: relative; /* Ensure relative positioning for absolute elements */
}

.list-card-text {
  color: #535353;
  font-family: "Abhaya Libre", serif;
  font-size: 20px;
  font-weight: 500;
  align-content: center;
  margin-left: 10px;
}

.grocery-item {
  border-bottom: 1px solid #000000;
  margin-right: 10px;
}

.follow-btn{
  background: #D75600;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-size: 20px;
  margin-top: 4px;
}

.follow-btn:hover {
  opacity: 80%;
}

.pinterest-grid {
  margin-left: 60px;
  column-count: 3;
  column-gap: 16px;
  padding: 16px;
}

@media (max-width: 1024px) {
  .pinterest-grid {
    column-count: 2;
  }
}

@media (max-width: 640px) {
  .pinterest-grid {
    column-count: 1;
  }
}

.pinterest-card {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  break-inside: avoid;
  cursor: pointer;
}


.pinterest-card:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  width: 100%;
  display: flex;
}

.pinterest-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  padding: 15px;
  transition: opacity 0.3s ease-in-out;
}

.pinterest-card:hover .overlay {
  opacity: 1;
}

.recipe-info {
  color: #fff;
  text-align: left;
  width: 100%;
}

.recipe-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.recipe-info p {
  margin: 4px 0;
  font-size: 0.9rem;
}

.tags {
  margin-bottom: 8px;
  display: flex;
  gap: 5px;
}

.tag {
  background: #228F2D;
  color: white;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: bold;
  display: inline-block;
}

.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 50%;
}
.edit-profile-wrapper {
  position: absolute;
  top: 20rem;
  right: 12rem;
  z-index: 10;
}

.edit-profile-btn {
  background-color: #D75600;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 800;
  font-family: "Abhaya Libre";
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-profile-btn:hover {
  background-color: #ea580c;
}

.dialog-box .w-10 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.follow-btn{
  background: #D75600;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-size: 20px;
  margin-top: 4px;
}

.follow-btn:hover {
  opacity: 80%;
}

.pinterest-grid-profile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 16px;
  padding: 16px;
  padding-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-items: center;
  align-items: start;
}


/* .pinterest-grid-profile {
  display: grid;
  column-width: 300px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 16px;
  padding: 16px;
  padding-left: 60px;
} */

.pinterest-card {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  break-inside: avoid;
  cursor: pointer;
}


.pinterest-card:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  width: 100%;
  display: flex;
}

.pinterest-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  padding: 15px;
  transition: opacity 0.3s ease-in-out;
}

.pinterest-card:hover .overlay {
  opacity: 1;
}

.recipe-info {
  color: #fff;
  text-align: left;
  width: 100%;
}

.recipe-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.recipe-info p {
  margin: 4px 0;
  font-size: 0.9rem;
}

.tags {
  margin-bottom: 8px;
  display: flex;
  gap: 5px;
}

.tag {
  background: #228F2D;
  color: white;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: bold;
  display: inline-block;
}

.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 50%;
}

.following-active {
  background-color: gray;
}

.recipe-collection-toggle {
  position: absolute;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px 0;
  width: 200px;
  left: 250px;
  font-size: 20px;
}

.collection-placeholder {
  background-color: #d1d5db; 
  height: 32;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.placeholder-icon {
  font-size: 2rem;
  color: #6b7280;
}
